// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";


.page {
  .badge {
    font-weight: 100;
    font-size: 11px;
    vertical-align: super;
    margin-left: 4px;
  }

  h1 .badge, h3 .badge {
    font-weight: 700;
    font-size: 12px;
  }

  h1 .badge {
    font-size: 18px;
  }

  .main-info-box {
    margin-bottom: 24px;
  }

  .times-cost-list button.btn-link {
    padding: 0 0.5rem;
  }

  .pagination {
    justify-content: center;
  }
}

/* Invoices */
.page.invoices, .page.billing {

  .customer-select {
    min-width: 300px;
  }

  .svg-inline--fa {
    margin: 0 5px;
  }

  .save-message {
    margin-left: 10px;
  }

  .notes {
    border: 1px solid #E7E7bb;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 24px;
    margin-top: 6px;
    background-color: #ffc;
    &:empty {
      display: none;
    }
  }

  .list-row {
    padding: 12px;
    border-bottom: 1px solid #eee;

    &:first-of-type  {
      border-top: 1px solid #eee;
    }

    &:nth-child(even) {
      background: #f7f7f7;
    }

    &:hover {
      background: #eee;
    }

    .title {
      margin-left: 16px;
      span {
        font-weight: 500;
      }
    }

    .badge {
      margin-left: 6px;
    }
  }
}

.page.page404 {

  .display-2 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ccc;
  }

  img {
    max-width: 100%
  }

}
