// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.app {
  .alert {
    margin-bottom: 0;
  }
}

.page {
  .badge {
    font-weight: 100;
    font-size: 11px;
    vertical-align: super;
    margin-left: 4px;
  }

  h1 .badge, h3 .badge {
    font-weight: 700;
    font-size: 12px;
  }

  h1 .badge {
    font-size: 18px;
  }

  .main-info-box {
    margin-bottom: 24px;
  }

  .times-cost-list button.btn-link {
    padding: 0 0.5rem;
  }

  .pagination {
    justify-content: center;
  }
}

// Login
.page.login {

  margin: 40px 20px 0 20px;

  .container-fluid {
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 6px;
  }

}

// 404
.page.page404 {

  .display-2 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ccc;
  }

  img {
    max-width: 100%
  }

}

.page.import {
  .select-invalid > div {
    border-color: #dc3545;
  }
}
